<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>post wirite</title>
		<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Stylish&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
		<link rel="stylesheet" thref="../static/star-rating-svg.css">
		<link rel="stylesheet" href="../static/post_wirite.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="../static/jquery.star-rating-svg.js"></script>
		
  </head>
  <body>
		
    <div class="post_wirite">
			<div class="logo_inner">
				<img src="../static/logo_img.png" alt="">
			</div>
			<div class="post_inner">
				<div class="inner">
					<p class="txt">식사는 어떠셨나요? (필수)</p>
					<textarea id="story" class="input" name="story" rows="5" cols="33"></textarea>
				</div>
				<div class="inner">
					<p class="txt">얼마나 맛있었나요? (필수)</p>
					<div class="my-rating" data-rating="5"></div>
				</div>
				<div class="inner">
					<p class="txt">사진도 보여주세요! (필수)</p>
					<div class="file is-boxed">
						<label class="file-label">
							<input class="file-input" type="file" name="resume">
							<span class="file-cta">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
									<path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
									<path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
								</svg>
								<span class="file-label">
									첨부파일 선택
								</span>
							</span>
						</label>
					</div>
				</div>
				<div class="inner btn_inner">
					<button onclick="postingSubmit()">작성완료 버튼</button>
				</div>
			</div>
    </div>
		<script>
				const fileInput = $(".file input[type=file]");
				let starRating = 0;
				
				/* 별점 등록 */
				$(".my-rating").starRating({
					initialRating: 1,
					starSize: 25,
					hoverColor: '#2d2e34',
					activeColor: 'cornflowerblue',
					strokeWidth: 9,
					strokeColor: 'black',
					initialRating: 4,
					useGradient: false,
					useFullStars: true,
					minRating: 1,
					callback: function(currentRating, $el){
						starRating = currentRating
					}
				});

				/* 글 컨텐츠 전송 */
				function postingSubmit() {
					const txt = $('#story').val();
					const file = $(".file input[type=file]")[0].files[0]
					const form_data = new FormData();

					form_data.append("comment", txt)
					form_data.append("star", starRating)
					form_data.append("file", file)
					
					if(txt === ''){
						alert('간단한 내용을 작성해주셔야 합니다.')
						return
					} else if(starRating === 0){
						alert('별점을 한개라도 클릭해주셔야 합니다.')
						return
					} else if(fileInput[0].files.length === 0){
						alert('이미지를 넣어주세요.')
						return
					} else {
						$.ajax({
							type: "POST",
							url: "/api/posts",
							data: form_data,
							dataType: 'json',
							cache: false,
							contentType: false,
							processData: false,
							success: function (response) {
									alert(response["msg"])
									window.location.href = '/main'
							}
						});
					}
				};
				
				/* 첨부파일 이름 변경 */
				function postChange() {
					const file = fileInput[0].files[0]
					if (fileInput[0].files.length > 0) {
						const fileName = $(".file .file-label .file-label");
						fileName.text(fileInput[0].files[0].name);
					}
				};
				
				fileInput.on('change', postChange)
		</script>
	</body>
</html>
