<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>post wirite</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/>
		<link rel="stylesheet" thref="../static/star-rating-svg.css">
		<link rel="stylesheet" href="../static/post_wirite.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="../static/jquery.star-rating-svg.js"></script>
  </head>
  <body>
    <div class="post_wirite">
			<div>
				<p>식사는 어떠셨나요? (필수)</p>
				<textarea id="story" class="input" name="story" rows="5" cols="33"></textarea>
			</div>
			<div>
				<p>얼마나 맛있었나요? (필수)</p>
				<div class="my-rating" data-rating="5"></div>
			</div>
			<div>
				<p>사진도 보여주세요! (필수)</p>
				<div class="file is-boxed">
					<label class="file-label">
						<input class="file-input" type="file" name="resume">
						<span class="file-cta">
							<span class="file-label">
								첨부파일 선택
							</span>
						</span>
					</label>
				</div>
			</div>
			<div class="btn_inner">
				<button onclick="postingSubmit()">작성완료 버튼</button>
			</div>
    </div>
		<script>
				const fileInput = $(".file input[type=file]");
				let starRating = 0;
				
				/* 별점 등록 */
				$(".my-rating").starRating({
					initialRating: 1,
					starSize: 25,
					hoverColor: '#2d2e34',
					activeColor: 'cornflowerblue',
					initialRating: 4,
					strokeWidth: 0,
					useGradient: false,
					useFullStars: true,
					minRating: 1,
					callback: function(currentRating, $el){
						starRating = currentRating
					}
				});

				/* 글 컨텐츠 전송 */
				function postingSubmit() {
					const txt = $('#story').val();
					const file = $(".file input[type=file]")[0].files[0]
					const form_data = new FormData();

					form_data.append("comment", txt)
					form_data.append("star", starRating)
					form_data.append("file", file)
					
					if(txt === ''){
						alert('간단한 내용을 작성해주셔야 합니다.')
						return
					} else if(starRating === 0){
						alert('별점을 한개라도 클릭해주셔야 합니다.')
						return
					} else if(fileInput[0].files.length === 0){
						alert('이미지를 넣어주세요.')
						return
					} else {
						$.ajax({
							type: "POST",
							url: "/api/posts",
							data: form_data,
							dataType: 'json',
							cache: false,
							contentType: false,
							processData: false,
							success: function (response) {
									alert(response["msg"])
									window.location.href = '/main'
							}
						});
					}
				};
				
				/* 첨부파일 이름 변경 */
				function postChange() {
					const file = fileInput[0].files[0]
					if (fileInput[0].files.length > 0) {
						const fileName = $(".file .file-label .file-label");
						fileName.text(fileInput[0].files[0].name);
					}
				};
				
				fileInput.on('change', postChange)
		</script>
	</body>
</html>
